

body {
	background-color: #F1F1F2;
	/* logo color: #8DC23E; */
}


h1 {
	font-size: 50px;
}

#appleLogo {
	position: relative;
	top: -11px;
	left: -10px;
	/* the position and top attributes allowed me to keep the apple logo aligned */
}

#androidLogo {
	position: relative;
	top: -5px;
}

#logo {
	padding: 30px 0 20px 0;
	/* background-color: #FAFBFB; */
}

#googleForm {
	position: relative;
	top: -10px;
	left: -20px;
}

@media(min-width: 768px) {
	.iOS_div {
		padding: 60px 0 0 0;
	}

	.android_div {
		padding: 60px 0 0 0;
	}
}

@media(max-width: 768px) {
	.iOS_div {
		padding: 20px 0 0 0;
	}

	.android_div {
		padding: 20px 0 0 0;
	}
}

.hero-unit {
	background-color: white;
}

input {
	width: 30px;
}